<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div><h1>Member Dashboard</h1>
    <div th:each="member : ${members}">
        <div>
            <h3 th:text="${'Name: ' + member.firstName + ' ' + member.lastName}"></h3>
            <p th:text="${'Email: ' + member.email}"></p>
            <p th:text="${'Phone: ' + member.phone}"></p>
            <!-- Form for deleting a member -->
            <form th:action="@{/admin/deletemember}" method="post">
                <input type="hidden" name="id" th:value="${member.id}" />
                <input type="submit" value="Delete" />
            </form>
        </div>
    </div>
</div>
</body>
</html>
